body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

header {
    
}

h1, h2, h3 {
    font-family: 'Shrikhand', cursive;
}

h1, h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}

h3 {
    font-size:18px;
    font-weight: 300;;
}

p {
    font-size:15px
}

footer {
    background-color: rgba(0, 0, 0, 0.781);
    color: white;
    padding: 3% 0 10% 10%;
}