#animation1{
    animation: show 1000ms;
}
#animation2{
    animation: show 1400ms ;
}
#animation3{
    animation: show 1800ms ;
}

#animation4{
    animation: show 2200ms;
}
#animation5{
    animation: show 2600ms
}
#animation6{
    animation: show 3000ms;
}

#animation7{
    animation: show 3400ms;
}
#animation8{
    animation: show 3800ms
}
#animation9{
    animation: show 4200ms;
}
#animation10{
    animation: show 4600ms;
}