#animation1{
    animation: show 1000ms;
}
#animation2{
    animation: show 1400ms ;
}
#animation3{
    animation: show 1800ms ;
}

#animation4{
    animation: show 2200ms;
}
#animation5{
    animation: show 2600ms
}
#animation6{
    animation: show 3000ms;
}

#animation7{
    animation: show 3400ms;
}
#animation8{
    animation: show 3800ms
}
#animation9{
    animation: show 4200ms;
}
#animation10{
    animation: show 4600ms;
}


.loader{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}


.loader-1 {
    opacity: 0;
    position:absolute;
    border-radius: 50%;
    border-top: 5px solid #9356DC;
    width: 140px;
    height: 140px;
    animation: load 2.4s linear;
    margin-top:30%;
    
  }
  
  .loader-2 {
      opacity: 0;
      border-radius: 50%;
      border-top: 5px solid #FF79DA;
      width: 140px;
      height: 140px;
      animation: load 1.8s 600ms ease-in-out;
      position:absolute;
      margin-top:30%;
  
  }
  .loader-3 {
      opacity: 0;
      border-radius: 50%;
      border-top: 5px solid #99E2D0;
      width: 140px;
      height: 140px;
      animation: load 1.2s 1200ms ease-in-out;
      position:absolute;
      margin-top:30%;
      
  
  }

  #load__header, #load__banner, #operation, #restaurants, #load__footer{
        
        animation: load_page 2900ms ease-in-out;
  }

 