.button {
    height: 50px;
    width: 200px;
    
    color:white;
    background: linear-gradient(to bottom right, $secondary-color, $primary-color);
    font-weight: 700;
    
    border-radius: 55px;
    border: none;
    @include box-shadow ;

    margin-top: 5%;

    cursor: pointer;
    &:hover {
        @include box-shadow(20px, darken($shadow-color,40));
        background: linear-gradient(to bottom right, lighten($secondary-color,5), lighten($primary-color,5));
    }
}