body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: "Shrikhand", cursive;
}

h1, h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
}

h3 {
  font-size: 18px;
  font-weight: 300;
}

p {
  font-size: 15px;
}

footer {
  background-color: rgba(0, 0, 0, 0.781);
  color: white;
  padding: 3% 0 10% 10%;
}

header {
  text-align: center;
}
header img {
  width: 50%;
}

.banner {
  border-top: 2px solid #cac7c7;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}
.banner__location {
  background-color: rgba(218, 218, 218, 0.884);
  font-weight: 500;
  display: flex;
  justify-content: center;
  height: 16%;
}
.banner__location p {
  font-size: 15px;
}
.banner__title {
  background-color: whitesmoke;
  height: 100%;
}
.banner__title h1 {
  padding: 4% 13% 0 13%;
}
.banner__title p {
  padding: 0 3% 0 3%;
  font-size: 15px;
  color: grey;
}

.fa-map-marker-alt {
  margin: auto 3% auto 0;
}

#operation {
  margin-top: 10%;
  height: 250px;
}
#operation h2 {
  margin-left: 5%;
}

.operation {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.operation__item {
  display: flex;
  justify-content: space-evenly;
  background-color: whitesmoke;
  border-radius: 20px;
  line-height: 35px;
  padding-right: 5%;
  position: relative;
}
.operation__item::before {
  content: "1";
  background-color: #9356DC;
  color: white;
  border-radius: 30px;
  padding: 4% 6% 4% 6%;
  transform: scale(0.4);
  font-size: 35px;
  position: absolute;
  left: -29px;
}
.operation i {
  margin: auto -4% auto 0;
  color: grey;
  font-size: 20px;
}

#restaurants {
  margin-top: 20%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: whitesmoke;
}

.restaurant {
  height: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.restaurant__card {
  border-radius: 15px;
  height: 23%;
  display: flex;
  flex-direction: column;
}
.restaurant__card__info {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 30%;
  display: flex;
  justify-content: space-between;
  line-height: 5px;
  padding: 2% 2% 0 4%;
}
.restaurant__card__info i {
  margin: auto 3% auto 0;
  font-size: 23px;
}
.restaurant__card img {
  object-fit: cover;
  height: 75%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.links a {
  text-decoration: none;
  color: white;
}
.links__1 {
  display: flex;
  margin-top: -2%;
}
.links__1 i {
  font-size: 13px;
  width: 20px;
  margin-top: 6%;
}
.links__2 {
  display: flex;
  margin-top: -5%;
}
.links__2 i {
  font-size: 13px;
  width: 20px;
  margin-top: 6%;
  transform: rotate(-45deg);
}
.links__3 {
  margin-top: -2%;
}

.button {
  height: 50px;
  width: 200px;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-weight: 700;
  border-radius: 55px;
  border: none;
  box-shadow: 0px 0px 8px #949393;
  margin-top: 5%;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
