$primary-color : #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$primary-background: rgb(245, 245, 245);
$secondary-background : rgba(218, 218, 218, 0.884);

$shadow : 8px;
$shadow-color:rgb(148, 147, 147);

@mixin big-mobile{
    @media all and (max-width: 767px) and (min-width:500px){
        @content;
    }
}

@mixin tablets {
    @media all and (max-width:991px) and (min-width:768) {
        @content;
    }
}

@mixin desktop {
    @media all and (min-width:992px) {
        @content;
    }
}

@mixin box-shadow($shadows:$shadow, $color:$shadow-color) {
    box-shadow: 0px 5px $shadows $color;
}