.banner{
    border-top: 2px solid rgb(202, 199, 199) ;
    height:300px ;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    &__location{
        background-color: $secondary-background;
        font-weight: 500;

        display: flex;
        justify-content: center;
        height: 16%;

        padding-left: 70px;
        &__city{
            
            display: flex;
            justify-content: center;
            
            input {
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 15px;
                padding-left: 10px;
                border: none;
                background-color: rgba(223, 219, 219, 0.884);
                &:focus{
                    outline-color: $primary-color;
                }
                &::placeholder{
                    color: black;
                }
            }
        }
    }
    &__title{
        background-color: $primary-background;
        height: 100%;
        h1 {
            padding: 4% 13% 0 13%;
        }
        p{
            padding: 0 3% 0 3%;
            font-size: 14px;
            color:grey;   
        }
        a{
            text-decoration: none;
            display: block;
            margin: 12% auto 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            color: rgb(240, 238, 238);
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
        }
        a:hover {
            cursor: pointer;
        }
        
       
    }
}


.fa-map-marker-alt{
    margin: auto 3% auto 0;
   

}
