#restaurants {
    margin-top:20%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: $primary-background;
}

.restaurant{
    
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 5%;
    position: relative;
    
    
    &__card:nth-child(1)::after {
        content: "Nouveau";
        color:darken($tertiary-color,40);
        background-color: $tertiary-color;
        border-radius: 2px;
        font-size: 13px;
        font-weight: bold;
        width: 75px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:20px;
        right: 10px;
    }
    &__card:nth-child(2)::after {
        content: "Nouveau";
        color:darken($tertiary-color,40);
        background-color: $tertiary-color;
        border-radius: 2px;
        font-size: 13px;
        font-weight: bold;
        width: 75px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:16px;
        right: 10px;
    }
    &__card{
        border-radius: 15px;
        height: 23%;
        position: relative;
        
        a {
            height: 100%;
            width: 100%;
            text-decoration: none;
            display: flex;
            flex-direction: column;
        }
        &__info{
            background-color: white;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            height: 30%;
            display: flex;
            justify-content: space-between;
            line-height: 5px;
            padding: 2% 2% 0 4%;
            
            & button {
                
            }
            
        }
        img{
            object-fit: cover;
            height: 75%;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            width: 100%;
            
        }
    }

    

}