.links {
    ul{
        list-style-type: none;
        line-height: 0px;
        padding-left: 0;
    }
    a{
        text-decoration: none;
        display: flex;
        i{
            color: white;
            width: 20px;
            margin: auto 2% auto 0 ;
            
        }
    }
    p{
        color: white;
    } 
    
}

.fa-handshake {
    transform: rotate(-45deg);
}

