#operation{
    margin-top: 10%;
    height: 250px;
     
    
    h2{
        margin-left: 5%;
    }
}


.operation{
    width:90%;
    height: 100%;
    margin:auto;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    &__item{
        display: flex;
        justify-content: space-evenly;
        background-color: $primary-background;
        border-radius: 20px;
        line-height: 35px;
        padding-right: 5%;
        position: relative;
        box-shadow: 0px 0px 5px rgb(223, 221, 221) ;
        &::before{
            content:"1";
            background-color: $primary-color;
            color:white;
            border-radius:30px;   
            padding: 14px 18px 11px 19px;
            transform: scale(0.4);
            font-size: 35px;
            position:absolute;
            left:-29px;
            
    
            
        }

    }
    i {
        margin:auto -4% auto 0;
        color: grey;
        font-size: 20px;
    }
    
}