#operation{
    margin-top: 10%;
    height: 250px;
     
    
    h2{
        margin-left: 5%;
    }
}


.operation{
    width:90%;
    height: 100%;
    margin:auto;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    &__item{
        display: flex;
        justify-content: space-evenly;
        background-color: $primary-background;
        border-radius: 20px;
        line-height: 35px;
        padding-right: 5%;
        position: relative;
        @include box-shadow(20px,lighten($shadow-color,30));
        &::before{
            content:"1";
            background-color: $primary-color;
            color:white;
            border-radius:30px;   
            padding: 14px 18px 11px 19px;
            transform: scale(0.4);
            font-size: 35px;
            position:absolute;
            left:-29px;
        }
       
        &:hover{
            background-color: darken($primary-background,5);
            cursor: pointer;
            i{
                color:$primary-color;
            }
        }

    }
    i {
        margin:auto -4% auto 0;
        color: grey;
        font-size: 20px;
    }
    p {
        font-weight: bold;
    }
    
}

#eat::before {
    content:"3";
            background-color: $primary-color;
            color:white;
            border-radius:30px;   
            padding: 14px 18px 11px 19px;
            transform: scale(0.4);
            font-size: 35px;
            position:absolute;
            left:-29px;
}

#compose::before {
    content:"2";
            background-color: $primary-color;
            color:white;
            border-radius:30px;   
            padding: 14px 18px 11px 19px;
            transform: scale(0.4);
            font-size: 35px;
            position:absolute;
            left:-29px;
}

